html,
* {
  max-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 400 24px Poppins, SansSerif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}